* {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    cursor: none;
}

body {
    font-family: "OpenSans", sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 95vh;
    background: #000115 !important;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    z-index: 5;
    text-shadow: 2px 2px 5px #000115;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    z-index: 5;
    text-shadow: 2px 2px 5px #000115;
}

.centered {
    margin: 0 auto;
}

.buttonDesignSettings {
    border-radius: 100%;
    border: 10px;
    border-color: #000000;
    font-size: 16px;
    background-color: white;
    margin-top: 7px;
    margin-left: 4px;
    position: absolute;

}

.buttonDesignHelp {
    border-radius: 100%;
    border: 10px;
    border-color: #000000;
    font-size: 16px;
    background-color: white;

    margin-left: auto;
}


.box {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 2px dashed white;
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    width: 50px;
    height: 40px;
    box-shadow: 2px 2px 5px #000115;
}

.answerfield{
    margin-top: 1.5rem;
}

.box-containerEasy {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-containerNormal {
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-containerHard {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.helpBtn {
    height: auto;
    width: auto;
    border-radius: 100%;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}

.helpBtn:active {
    position: relative;
    top: 1px;
}

.buttonDesign {
    position: relative;
    height: 50px;
    width: 50px;
    display:inline-block;
    margin: 5px;
    padding: 7.5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0,0,0,0.5);
    background: white;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: none;
    overflow: hidden;
}

.buttonDesign:hover {
    color: rgba(0,0,0,1);
    cursor: none;
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
    transition: .6s;
}

.buttonDesign span{
    display: block;
    position: absolute;
    background: white;
    cursor: none;
}

.buttonDesign span:nth-child(1)
{
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
    cursor: none;
}

.buttonDesign:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
    cursor: none;
}

.buttonDesign span:nth-child(2)
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
    cursor: none;
}

.buttonDesign:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
    cursor: none;
}

.buttonDesign span:nth-child(3)
{
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
    transition-delay: 0.23s;
    cursor: none;
}

.buttonDesign:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
    transition-delay: 0.23s;
    cursor: none;
}

.buttonDesign span:nth-child(4)
{
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
    transition-delay: 0.23s;
    cursor: none;
}

.buttonDesign:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
    transition-delay: 0.23s;
    cursor: none;
}


.buttonDesignFunc {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 7.5px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255,255,255, 0.4);
    background: #262c37;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: none;
    overflow: hidden;
}

.buttonDesignFunc:hover {
    background: linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    background-color: #6c7c7c;
}

.buttonDesignFunc:active {
    position: relative;
    top: 1px;
}

.buttonDesignFunc:disabled {
    background: #e25252;
}

.center {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

#fader {
    opacity: 0;
    transition: opacity 2s;
}

/* Background Video */

.headervideo {
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.596) !important;
}

.video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

.solidblack {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.90;
    z-index: -1;
}

#fader {
    opacity: 0;
    transition: opacity 2s;
}

/* Cursor */

.cursor{
    z-index: 999;
    position: fixed;
    background: #2696e8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696e8,
                0 0 60px #2696e8,
                0 0 100px #2696e8;
                animation: colors 5s infinite;
  }

  @keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

  .cursor:before{
    content: '';
    position: absolute;
    background: #2696e8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }

div.clickEffect{
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  filter: hue-rotate(360deg);
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index:99999;
}

@keyframes clickEffect{
  0%{
    opacity: 1;
    width: 0.5em; height: 0.5em;
    margin: 0.225em;
    border-width: 0.5em;

  }
  100%{
    opacity: 0.2;
    width: 15em; height:15em;
    margin: -6.9em;
    border-width: 0.03em;
    color: #2696e8;
  }
}

.trail{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2696e8;
  position: fixed;
  animation: come 1s linear forwards;
}

@keyframes come{
  0%{
    transform: scale(0);
    filter: hue-rotate(0deg);
  }
  10%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100%{
    transform: scale(0) translateY(150px);
    opacity: 0;
    filter: hue-rotate(360deg);
  }
}