*{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

:root {
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
  }
  
  body {
    font-family: "OpenSans", sans-serif;
    font-size: 1rem;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    background-color: #000115 !important;
    overflow: hidden;
  }

  /* Para sa mga pindutan */
  a{
    position: relative;
    padding: 15px 25px;
    margin: 0 30px;
    color: #21ebff !important;
    text-decoration: none !important; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(228, 228, 228, 0.2));
    cursor: none;
  }

  a:nth-child(1)
  {
    filter: hue-rotate(120deg);
  }

  a:nth-child(3)
  {
    filter: hue-rotate(190deg);
  }

  a:hover{
    background: #21ebff;
    color: #111 !important;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.5s;
  }

  a:hover:before{
    width: 100%;
    height: 100%;
  }

  a:hover:after{
    width: 100%;
    height: 100%;
    transition-delay: 0s;
  }

  a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 0.5s;
  }

  a:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 0.5s;
  }

  /* Main UI */

  h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 5;
    text-align: center;
  }

  h4{
    font-family: 'Montserrat', sans-serif;
    color: white;
    z-index: 5;
  }

  /* Cursor */

  .cursor{
    z-index: 999;
    position: fixed;
    background: #2696e8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696e8,
                0 0 60px #2696e8,
                0 0 100px #2696e8;
                animation: colors 5s infinite;
  }

  @keyframes colors{
    0%{
      filter: hue-rotate(0deg);
    }
    100%{
      filter: hue-rotate(360deg);
    }
  }

  .cursor:before{
    content: '';
    position: absolute;
    background: #2696e8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
  }

div.clickEffect{
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  filter: hue-rotate(360deg);
  border-radius: 50%;
  animation: clickEffect 0.4s ease-out;
  z-index:99999;
}

@keyframes clickEffect{
  0%{
    opacity: 1;
    width: 0.5em; height: 0.5em;
    margin: 0.225em;
    border-width: 0.5em;

  }
  100%{
    opacity: 0.2;
    width: 15em; height:15em;
    margin: -6.9em;
    border-width: 0.03em;
    color: #2696e8;
  }
}

.trail{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2696e8;
  position: fixed;
  animation: come 1s linear forwards;
}

@keyframes come{
  0%{
    transform: scale(0);
    filter: hue-rotate(0deg);
  }
  10%{
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100%{
    transform: scale(0) translateY(150px);
    opacity: 0;
    filter: hue-rotate(360deg);
  }
}

/* Background Video */

.headervideo{
  height:100vh;
  background-color: rgba(255, 0, 0, 0.596) !important;
}

.video-background{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
}

.solidblack{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  opacity: 0.75;
  z-index: -1;
}

#fader{
  opacity: 0;
  transition: opacity 2s;
}