body {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 95vh;
}

.centered{
  margin: 0 auto;
}


.box{
  border: 1px solid black;
  width: 50px;
  height: 40px;
  text-align: center;
}


.box-containerEasy{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.box-containerNormal{
	width: 350px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
  }

  .box-containerHard{
	width: 450px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
  }

.helpBtn{
  height: auto;
  width:auto;
	border-radius:100%;
  background-color: white;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
}

.helpBtn:active {
	position:relative;
	top:1px;
}

.buttonDesign{
  margin:3px;
  width: 50px;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 0px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.buttonDesign:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.buttonDesign:active {
	position:relative;
	top:1px;
}


.buttonDesignFunc{
  margin:3px;
  box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}

.buttonDesignFunc:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.buttonDesignFunc:active {
	position:relative;
	top:1px;
}

.buttonDesignFunc:disabled {
	background:#e25252;
}



.center {
	top: 50% !important;
	transform: translateY(-50%) !important;
  }