body {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;

}

.box{
  height: 55px;
  width: 65px;
}

.box-buttons{

  height: 370px;
  width: 400px;
}

.center{
  text-align: center;
  padding-bottom: 10%;
  padding-top: 30%;
}